In [1]:
print(1+1)

2

In [2]:
print(1+1)

2

# Data type
* ## Opertors
    * Addition
    * Subtraction
    * Division
    * Multiplication
    * Power
    * Integer Division
    * Mod (This will return the remain of the division)
* ## Integers
* ## Floats
* ## Strings
    * ## String methods
* ## Boolean
* ## Comparison operators

* ## List
* ## Dictionary
* ## Set
* ## Tuple
* ## Printing and F'string
# Functions 
* # if, elif, else statements
* ## Define/Build Function
* ## Lambda
* ## Filter
* ## Map
 
# Build Pandas DataFrame

## Integers
# For example ... -5,-4, -3,-2,-1,0,1,2,3,4,5,...

### Addition
15 + 7

In [3]:
15 - 7

8

### Multiplication
3 * 5

### Power

In [4]:
# @ raise to the power 4 is
2**4

16

In [5]:
##  16 raise to the power 1/2 is
16**0.5

4.0

## Division
20/4

In [6]:
23/4

5.75

## Integer Division

In [7]:
23//4

5

# Mod operator (%) this will return the remainder of the division

In [8]:
# Example
21 % 4

1

## To check if a N number is even, it suffices to show N % 2 = 0

In [9]:
# For instance 
212 % 2 # so 212 is an even number

0

# To check if a N number is Odd, it suffices to show N % 2 = 1

In [10]:
# For instance: 
121 % 2 # is 1, so 121 is an odd number

1

## String is a sequence of charaters
We use sigle, or double quotation to define a string; that is , a string must between quotations

In [11]:
# Examples
'Moussa'

'Moussa'

In [12]:
type('Moussa')

str

In [13]:
type(" ")

str

In [14]:
type(123)

int

In [15]:
age = str(123)
age

'123'

In [16]:
type(age)

str

In [17]:
new_age = int(age)

In [18]:
type(new_age)

int

# Strings methods

* ### Upper()

In [19]:
name = 'moussa'

In [20]:
name

'moussa'

In [21]:
name.upper()

'MOUSSA'

* ## Lower()

In [22]:
last = 'DOUMBIA'
last

'DOUMBIA'

In [23]:
last.lower()

'doumbia'

* #### Title()

In [24]:
position = 'TEACHER'
position

'TEACHER'

In [25]:
position.title()

'Teacher'

* ### Strip, lstrip, rstrip methods()

In [26]:
data = "   titanic        "
data

'   titanic        '

In [27]:
# len will return the length of the data
len(data)

18

In [28]:
# lstrip()
left = data.lstrip()

In [29]:
left

'titanic        '

In [30]:
len(left)

15

In [31]:
# rtrip()
right = data.rstrip()
right

'   titanic'

In [32]:
len(right)

10

In [33]:
# strip() method()
lr = data.strip()

In [34]:
lr

'titanic'

In [35]:
len(lr)

7

In [36]:
# Center method
Title = "Information T"

In [37]:
print(Title.center(100))

                                           Information T

In [38]:
Fruit = 'Mango, Apple, Banana, Watermelon, Apple, Apple, Pineaple'

In [39]:
Fruit.count('Apple')

3

In [40]:
my_string = 'H1o2w3ard'

In [41]:
my_string.isalpha()

False

In [42]:
your_string = 'Howard'

In [43]:
your_string.isalpha()

True

In [44]:
my_text  = "Python is the most popular programming language. Python is a high level language. Python is very easy to learn"

In [45]:
my_text.startswith('Python')

True

In [46]:
my_text.startswith("M")

False

* ### Boolean

In [47]:
print((2==3) & (1==1)) # & stands for AND operator

False

In [48]:
print((2==3) | (1==1)) # | stands for or

True

In [49]:
print((2==3) or (1==1))

True

In [50]:
print((2==2) & (1==1))

True

In [51]:
print(True& True)

True

In [52]:
print(True | True)

True

In [53]:
print(True& False)

False

In [54]:
print(False & True)

False

In [55]:
print(False & False)

False

In [56]:
print(False | True)

True

In [57]:
print((2 < 20 or 5>= 3) &  (4%3==1 and 17>20))

False

In [58]:
print((2 < 20 or 5>= 3) &  (4%3==1 or 17>20))

True

In [59]:
print((2 < 20 or 5>= 3) &  (4%3==1 & 17>20))

False

In [60]:
print((2 < 20 or 5>= 3) and  (4%3==1 and 17>20))

False

* ### The comparison operators are "==", '<','<=','>' and '>='

In [61]:
print(2 == 4)

False

In [62]:
print(3 >= 2)

True

In [63]:
print(3 <= 1)

False

* ### List
#### example [1,2,3,4,5,6,7,8,9,10]

In [64]:
mylist = [1,2,3,4,5,6,7,8,9]

In [65]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
type(mylist)

list

In [67]:
mylist[3]

4

In [68]:
my_fruit = ['Mango','Apple','Watermelon','Pineapple','Dragon fruit']

In [69]:
my_fruit[1]

'Apple'

In [70]:
my_fruit[4]

'Dragon fruit'

In [71]:
my_fruit[-2]

'Pineapple'

## Reverse member of a list

In [72]:
my_fruit

['Mango', 'Apple', 'Watermelon', 'Pineapple', 'Dragon fruit']

In [73]:
my_fruit[::-1]

['Dragon fruit', 'Pineapple', 'Watermelon', 'Apple', 'Mango']

In [74]:
# Replacing a list member
my_fruit[4] = 'Strawberry'
my_fruit

['Mango', 'Apple', 'Watermelon', 'Pineapple', 'Strawberry']

In [75]:
### Adding new member
my_fruit.append('Dragon Fruit')

In [76]:
my_fruit.append('Strawberry')

In [77]:
### Removing the last member of a list
my_fruit.pop()

'Strawberry'

In [78]:
my_fruit.pop(0)

'Mango'

In [79]:
my_fruit

['Apple', 'Watermelon', 'Pineapple', 'Strawberry', 'Dragon Fruit']

In [80]:
my_vegi = ['Salad','Carrot','Cabbage','Spinach']

In [81]:
my_bas = my_vegi + my_fruit

In [82]:
print(my_bas)

['Salad', 'Carrot', 'Cabbage', 'Spinach', 'Apple', 'Watermelon', 'Pineapple', 'Strawberry', 'Dragon Fruit']

In [83]:
len(my_bas) # len return the lenght of the list

9

In [84]:
list_mum = [5,3,7,6,1,2,3,4]

In [85]:
list_s = sorted(list_mum)

In [86]:
list_s

[1, 2, 3, 3, 4, 5, 6, 7]

In [87]:
list_mum.sort(reverse=True)

In [88]:
print(list_mum)

[7, 6, 5, 4, 3, 3, 2, 1]

In [89]:
print(my_bas.index('Strawberry')) # To obtain the position of a particular list member

7

In [90]:
my_bas.remove('Apple')

In [91]:
my_bas

['Salad',
 'Carrot',
 'Cabbage',
 'Spinach',
 'Watermelon',
 'Pineapple',
 'Strawberry',
 'Dragon Fruit']

* # Dictionary 
is a sequence of  key-value pair. Members of a dictonary are between curly brackets
### Example passwords = {'id1':'aBcD', 'id2':'ZwAym'}

In [92]:
student = {
    'College': 'Howard University',
    'School':'COAS',
    'Major':'Data Science',
    'S_ID':'@01234567',
    'Classes':['Data Science','English','CompSC','Math'],
    'Status':['International','Natinal'],
    'Email':'myemail@bison.howar.edu',
    'Phone':'202-555-5555',
    'S_name':'Moussa Doumbia'
}

In [93]:
student['Address'] = '123 Howard Pl NW, Washington, DC 20059'

In [94]:
student

{'College': 'Howard University',
 'School': 'COAS',
 'Major': 'Data Science',
 'S_ID': '@01234567',
 'Classes': ['Data Science', 'English', 'CompSC', 'Math'],
 'Status': ['International', 'Natinal'],
 'Email': 'myemail@bison.howar.edu',
 'Phone': '202-555-5555',
 'S_name': 'Moussa Doumbia',
 'Address': '123 Howard Pl NW, Washington, DC 20059'}

In [95]:
couple = student.items()

In [96]:
couple

dict_items([('College', 'Howard University'), ('School', 'COAS'), ('Major', 'Data Science'), ('S_ID', '@01234567'), ('Classes', ['Data Science', 'English', 'CompSC', 'Math']), ('Status', ['International', 'Natinal']), ('Email', 'myemail@bison.howar.edu'), ('Phone', '202-555-5555'), ('S_name', 'Moussa Doumbia'), ('Address', '123 Howard Pl NW, Washington, DC 20059')])

In [97]:
#12_x = 5

In [98]:
x_12 = 5

In [99]:
#5 = x_12

* #### The set() method is used to remove duplicates

In [100]:
my_list = [1,1,2,3,2,4,5,6,7,1,2,3,9]
my_tuple = (1,1,2,3,2,4,5,6,7,1,2,3,9) # Tuple are immutable

In [101]:
new_tuple = (11,2,13,13,13,11,2,2)

In [102]:
a,b,c,d,e,f,g,h = new_tuple

In [103]:
#new_tuple[0]=1

In [104]:
set(new_tuple)

{2, 11, 13}

In [105]:
set(my_list)

{1, 2, 3, 4, 5, 6, 7, 9}

In [106]:
name = 'New student'

In [107]:
name

'New student'

In [108]:
print('Hello',name+'!','\n''Welcome to data science class.')

Hello New student!
Welcome to data science class.

In [109]:
f_name = 'Moussa'

In [110]:
l_name = 'Doumbia'

In [111]:
print(f'Hello {l_name}!\n Welcome to DS')

Hello Doumbia!
 Welcome to DS

In [112]:
# Format method
print("Hello {one} {two}!\n Welcome to data science class.".format(two= l_name,one= f_name))

Hello Moussa Doumbia!
 Welcome to data science class.

In [113]:
print(f'Hello { f_name} {l_name}!\n Welcome to Howard University')

Hello Moussa Doumbia!
 Welcome to Howard University

In [114]:
print('Hello', f_name, l_name, '\n Welcome to Howard University')

Hello Moussa Doumbia
 Welcome to Howard University

In [115]:
print('Hello '+ f_name+" "+ l_name)

Hello Moussa Doumbia

In [116]:
# In Python, functions start with def plus the function name
def my_double(num):
    
    return num*2

In [117]:
my_double(8)

16

In [118]:
str(3)

'3'

In [119]:
def my_print(astr):
    print('Hello', astr)

In [120]:
my_print('Moussa!')

Hello Moussa!

In [121]:
def even_func(num):
    result = 2*num + 8
    return result

In [122]:
even_func(1)

10

In [123]:
### split() metho will split a string 
my_str = 'my_email@howard.edu'

In [124]:
my_str.split('@')[1]

'howard.edu'

In [125]:
def get_email(astr):
    part = astr.split('@')[1]
    return part

In [126]:
my_customer1 = 'customer@amazon.com'

my_customer2 = 'customer@yahoo.fr'
my_customer3 = 'customer@yahoo.com'
my_customer4 = 'customer@gmail.com'
my_customer5 = 'customer@hotmail.com'

In [127]:
get_email(my_customer2)

'yahoo.fr'

In [128]:
# For loop
seq_num = [1,2,3,4,5,6,7]

In [129]:
for number in seq_num:
    print(number**2)

1
4
9
16
25
36
49

In [130]:
first = 'abc'
second = '123'
third = 'xyz'

In [131]:
for i in first:
    for j in second:
        for k in third:
            print((i,j,k))

('a', '1', 'x')
('a', '1', 'y')
('a', '1', 'z')
('a', '2', 'x')
('a', '2', 'y')
('a', '2', 'z')
('a', '3', 'x')
('a', '3', 'y')
('a', '3', 'z')
('b', '1', 'x')
('b', '1', 'y')
('b', '1', 'z')
('b', '2', 'x')
('b', '2', 'y')
('b', '2', 'z')
('b', '3', 'x')
('b', '3', 'y')
('b', '3', 'z')
('c', '1', 'x')
('c', '1', 'y')
('c', '1', 'z')
('c', '2', 'x')
('c', '2', 'y')
('c', '2', 'z')
('c', '3', 'x')
('c', '3', 'y')
('c', '3', 'z')

In [132]:
seq_num = [1,2,3,4,5,6,7]

In [133]:
# If else statements

for number in seq_num:
    if number % 2 == 0:
        print('{} is an even number '.format(number))
    else:
        print(number,'is an odd number')

1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
6 is an even number
7 is an odd number

In [134]:
for key, val in student.items():
    print(key+".......", val)

College....... Howard University
School....... COAS
Major....... Data Science
S_ID....... @01234567
Classes....... ['Data Science', 'English', 'CompSC', 'Math']
Status....... ['International', 'Natinal']
Email....... myemail@bison.howar.edu
Phone....... 202-555-5555
S_name....... Moussa Doumbia
Address....... 123 Howard Pl NW, Washington, DC 20059

In [162]:
students_gpa = {
    'John':[4.0,'US'],
    'Mya':[4.0,'US'],
    'Sean':[3.7,'US'],
    'Jon':[3.8,'INT'],
    'Sarah':[3.85,'INT'],
    'Isaac':[3.5,'INT'],
    'Issa':[2.8,'US']
}

In [163]:
for key,val in students_gpa.items():
    if (students_gpa[key][0] > 3.7) and (students_gpa[key][1]=='US'):
        print('{} is an outstanding U.S. student.'.format(key))
    else:
        print('{} is not qualify for this Summer REU'.format(key))

John is an outstanding U.S. student.
Mya is an outstanding U.S. student.
Sean is not qualify for this Summer REU
Jon is not qualify for this Summer REU
Sarah is not qualify for this Summer REU
Isaac is not qualify for this Summer REU
Issa is not qualify for this Summer REU

In [164]:
# If, elif, else statements
for key,val in students_gpa.items():
    if (students_gpa[key][0] > 3.8) and (students_gpa[key][1]=='US'):
        print('{} is a U.S. citizen and is qualified for the Summer REU.'.format(key))
    elif (students_gpa[key][0] > 3.5) and (students_gpa[key][1]=='US'):
        print('{} is a U.S. citizen, but not qualified for the Summer REU '.format(key))
    else:
        print('{} is not qualify for this Summer REU'.format(key))

John is a U.S. citizen and is qualified for the Summer REU.
Mya is a U.S. citizen and is qualified for the Summer REU.
Sean is a U.S. citizen, but not qualified for the Summer REU
Jon is not qualify for this Summer REU
Sarah is not qualify for this Summer REU
Isaac is not qualify for this Summer REU
Issa is not qualify for this Summer REU

In [138]:
def compute_grade(grade):
    if grade >= 90:
        print('A')
    elif grade >= 80:
        print('B')
    elif grade >= 70:
        print('C')
    elif grade >= 60:
        print('D')
    else:
        print('F')

In [139]:
compute_grade(70.5)

C

* ### While loop

In [140]:
count = 0
while count < 6:
    print(f'{count} Hello World!')
    count = count + 1
    #count += 1

0 Hello World!
1 Hello World!
2 Hello World!
3 Hello World!
4 Hello World!
5 Hello World!

In [141]:
count = 0
while count < 6:
    print(f'{count} is less than 6!')
    count = count + 1

0 is less than 6!
1 is less than 6!
2 is less than 6!
3 is less than 6!
4 is less than 6!
5 is less than 6!

In [142]:
while False:
    print('Hi') # This will never start

In [143]:
# while True:
#     print('True') # This is an infinite loop

In [144]:
num = 0
a_list =[]
while num < 10:
    a_list.append(num)
    num += 1

In [145]:
def build_alist(num):
    num = 0
    a_list =[]
    while num < 10:
        a_list.append(num)
        num += 1
    return a_list

In [146]:
a_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [147]:
build_alist(3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

* ## List Comprehension

In [148]:
def compute_grade(grade):
    if grade >= 90:
        print('A')
    elif grade >= 80:
        print('B')
    elif grade >= 70:
        print('C')
    elif grade >= 60:
        print('D')
    else:
        print('F')

In [149]:
scores = [60,90,70,85,100,99,40]

In [167]:
grade = ['A' if score>=90 else "B" if score>=80
        else 'C' if score >=70 else 'D' if
        score>=60 else "F" for score in scores]

In [151]:
grade

['D', 'A', 'C', 'B', 'A', 'A', 'F']

### We want to build a list with the square root of numbers from a sequence of numb ers using booth function and list comprehension

In [152]:
seq = [0,1,2,3,4,5,6,7,8,9]

In [153]:
def list_builder(seq):
    em_list = []
    for num in seq:
        em_list.append(num**0.5)
    return em_list

In [154]:
print(list_builder(seq))

[0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0]

In [155]:
easy_builder = [num**0.5 for num in seq]
print(easy_builder)

[0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0]

* ### Lambda, Map,and  filter

In [181]:
seq = [1,2,3,4,5,6,7,8,9]

In [176]:
# We want to obtain the list of cubes for every number in the seq 
# 1. using function
# 2. using map function
def num_cube(seq):
    cube_list = []
    for num in seq:
        cube_list.append(num**3)
    return cube_list

In [177]:
num_cube(seq)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [194]:
list(map(lambda num: num**3, seq))

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [224]:
customers_list = ['my_customer1@gmail.com', 'my_cutomer2@yahoo.com',
'customer2@hotmail.com']

In [225]:
l = map(lambda x: x.split('@')[1], customers_list)

In [226]:
list(l)

['gmail.com', 'yahoo.com', 'hotmail.com']

In [165]:
def get_qualified_student(aditc):
    for key,val in students_gpa.items():
        if (students_gpa[key][0] > 3.8) and (students_gpa[key][1]=='US'):
            print('{} is a U.S. citizen and is qualified for the Summer REU.'.format(key))
        elif (students_gpa[key][0] > 3.5) and (students_gpa[key][1]=='US'):
            print('{} is a U.S. citizen, but not qualified for the Summer REU '.format(key))
        else:
            print('{} is not qualify for this Summer REU'.format(key))

In [157]:
get_qualified_student(student)

John is a U.S. citizen and is qualified for the Summer REU.
Mya is a U.S. citizen and is qualified for the Summer REU.
Sean is a U.S. citizen, but not qualified for the Summer REU
Jon is not qualify for this Summer REU
Sarah is not qualify for this Summer REU
Isaac is not qualify for this Summer REU
Issa is not qualify for this Summer REU

In [158]:
# flag = 1
# while flag:
#     print('Given flag is really true')
#     print('Good bye')

In [159]:
scores = [85,90,90,50,70,60,100]

In [166]:
grades = ['A' if x >=90 else "B" if x>=80 else "C" if x>=70 else 'D' if x>=60 else 'F'
         for x in range(50,100,10)]

In [161]:
grades

['F', 'D', 'C', 'B', 'A']