In [1]:
position = "TEACHER"
position

'TEACHER'

In [2]:
last = 'DOWMBIA'
last.lower()

'dowmbia'

In [3]:
position.title()

'Teacher'

In [4]:
# title() --> will capitalize the first charcter of a string
# lower() --> will lowercase all the characters of a string
# strip() --> remove sll the unnecessary spaces
# lstrip / rstrip / strip

In [5]:
### Strip method()

In [6]:
data = "     titanic      "
data

'     titanic      '

In [7]:
# len will return the length of the data
len(data)

18

In [8]:
# lstrip()
left = data.lstrip()

In [9]:
left

'titanic      '

In [10]:
len(left)

13

In [11]:
word = '     titanic    '
word.rtrip()

AttributeError: 'str' object has no attribute 'rtrip'

In [ ]:
word = '  titanic       '
right = word.rstrip()

In [ ]:
right

In [ ]:
len(right)

In [ ]:
# Center method
title = 'Information T'

In [ ]:
print(Title.center(100))

In [ ]:
Fruit = 'Mango, Apple, Banana, Watermelon, Apple, Apple, Pineapple'
Fruit.count('Apple')

In [ ]:
my_string = '123'

In [ ]:
my_string.isalpha()

In [ ]:
your_string = 'Howard'
your_string.isalpha()

In [ ]:
your_text = 'Python is the most popular programming language. Python is a high level language. Python is very easy to learn.'

In [ ]:
your_text.startswith('Python')

In [ ]:
your_text.startswith('M')

In [ ]:
 ### Boolean

In [ ]:
print((2==3) & (1==1)) # & stands for AND operator

In [ ]:
print((2==3) | (1==1)) # | stands for OR

In [ ]:
print((2==2) & (1==1))

In [ ]:
print(True & True)

In [ ]:
print(True |True)

In [ ]:
print(False & False)

In [ ]:
print((2 < 20 or 5 >= 3) & (4%3==1 or 17>20))

In [ ]:
print((2 < 20 or 5 >= 3) & (4%3==1 & 17>20))

In [ ]:
print((2 < 20 or 5 >= 3) and (4%3==1 and 17>20))

In [ ]:
print((2 < 20 | 5 >= 3) & (4%3==1 | 17>20))

In [ ]:
print((2 < 20 or 5 >= 3) and (4%3==1 or 17>20))

 The comparison operators are '==', '<', '<=', '>', '>='

In [ ]:
print(3>=2)

In [ ]:
print(2<=1)

List

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9]

In [ ]:
mylist

In [ ]:
type(mylist)

In [ ]:
mylist[3]

In [ ]:
myfruit = ['Mango', 'Apple', 'Watermelon' ,'Pineapple' , 'Dragon fruit']

In [ ]:
myfruit[1]

In [ ]:
myfruit[-1]

 ## Reverse member of a list

In [ ]:
myfruit[::-1]

In [ ]:
# Replacing a list member
myfruit[4] = 'Strawberry'
myfruit

In [ ]:
### Adding a new member
myfruit.append('Dragon fruit')

In [ ]:
myfruit

In [ ]:
### Removing the last member of a list
myfruit.pop()

In [ ]:
myfruit.pop(0)

In [ ]:
myfruit

In [ ]:
myvegetable = ['Salad', 'Carrot', 'Cabbage', 'Spinach']

In [ ]:
mybasket = myfruit + myvegetable

In [ ]:
print(mybasket)

In [ ]:
len(mybasket)

In [ ]:
mybasket.remove('Salad')
mybasket

In [ ]:
print(mybasket)

In [ ]:
my_basket = ['Salad', 'Spinach', 'Watermelon', 'Pineapple']
my_basket.pop(1)

In [ ]:
my_basket.remove('Watermelon')

In [ ]:
my_basket

In [ ]:
1 * # Dictionary 
2 is a sequence of key-value pair. Members of a dictionary are between curly brackets
3 ### Example passwords = {'id1':'aBcD', 'id2':'ZwAym'}

In [ ]:
student = {'College':'Howard University',
          'School':'COAS',
          'Major':'Data Science',
          'S_ID':'@01234567',
          'Classes':['Data Science','English','CompSC','Math'],
          'Status':['International', 'National'],
          'Email':'myemail@bison.howard.edu',
          'Phone':'202-555-5555',
          'S_name':'Moussa Doumbia'}

In [ ]:
student

In [ ]:
student['Major']

In [ ]:
student['Status']

In [ ]:
student['Classes'][3]

In [ ]:
student['Address']= '123 Howard Pl NW, Washington, DC 20059'

In [ ]:
student

In [ ]:
couple = student.items()

In [ ]:
couple

In [ ]:
12_x = 5

In [ ]:
x_12 = 5

In [ ]:
5 = x_12

* ### The set() method is used to remove duplicates
* ### Tuple are inmutable

In [ ]:
mylist = [1,1,2,3,2,4,5,6,7,1,2,3,9]

In [ ]:
newtuple = (11,2,13,13,13,11,2,2)

In [ ]:
a,b,c,d,e,f,g,h = newtuple

In [ ]:
newtuple[4]

In [ ]:
mylist = [1,1,2,3,2,4,5,6,7,1,2,3,9]

In [ ]:
set(mylist)

In [ ]:
name = 'New student'

In [ ]:
name

In [ ]:
print('Hello', name+'!','\n' 'welcome to the data science class')

In [ ]:
f_name = 'Moussa'

In [ ]:
l_name = 'Doumbia'

In [ ]:
print(f'Hello {l_name}!\n Welcome to DS')

In [ ]:
print("Hello {one} {two}!\nWelcome to data science class.".format(two= l_name,one= f_name))

In [ ]:
print(f'Hello { f_name} {l_name}!\nWelcome to Howard UNiversity')

In [ ]:
print('Hello', f_name, l_name, '\n Welcome to Howard University')

In [ ]:
print('Hello ' + f_name + " " + l_name)

In [ ]:
# In Python, functions start with def plus the function name
def my_double(num):
    return num*2

In [ ]:
my_double(8)

In [ ]:
def my_print(astr):
    print('Hello', astr)

In [ ]:
my_print('Moussa!')

In [ ]:
def even_func(num):
    result = 2*num + 8
    return result

In [ ]:
even_func(1)

In [ ]:
### split() method will split a string
my_str = 'my_email@howard.edu'

In [ ]:
my_str.split('@')[1]

In [ ]:
def get_email(astr):
    part = astr.split('@')[1]
    return part

In [ ]:
my_customer1 = 'customer@amazon.com'
my_customer2 = 'customer@yahoo.fr'

In [ ]:
get_email(my_customer1)

In [ ]:
# For loop
seq_num = [1,2,3,4,5,6,7]

In [ ]:
for number in seq_num:
    print

In [ ]:
first = 'abc'
second = '123'
third = 'xyz'

In [ ]:
for i in first:
    for j in second:
        for k in third:
            print((i,j,k))

In [ ]:
seq_num = [1,2,3,4,5,6,7]

In [ ]:
# If else statements
for number in seq_num:
    if number % 2 == 0:
        print('{} is an even number '.format(number))
    else:
            print('{} is an odd number'.format(number))

In [ ]:
students_gpa = {'John':4.0,
                'Mya':4.0,
                'Sean':3.7,
                'Jon':3.8,
                'Sarah':3.85,
                'Isaac':3.5,
                'Issa':2.8
               }

In [ ]:
for key,val in students_gpa.items():
    if students_gpa[key] >3.7:
        print('{} is an outstanding student.'.format(key))
    else:
        print('{} is not qualifed for this Summer REU'.format(key))

In [ ]:
# If, elif, else statements
for key,val in students_gpa.items():
    if students_gpa[key] >3.7:
        print('{} is an outstanding student.'.format(key))
    elif students_gpa[key] >=3.7:
        print('{} is a good student.'.format(key))
    else:
        print('{} is not qualifed for this Summer REU.'.format(key))

In [12]:
def compute_grade(grade):
    if grade >= 90:
        print('A')
    elif grade >= 80:
        print('B')
    elif grade >= 70:
        print('C')
    elif grade >= 60:
        print('D')
    else:
        print('F')

In [13]:
compute_grade(2)

F

In [15]:
 ### While loop

In [24]:
count = 0
while count < 6:
    print("Hello World!")
    count = count + 1

Hello World!
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [23]:
count = 0
while count < 6:
    print(f"{count} Is less than 6!")
    count = count + 1

0 Is less than 6!
1 Is less than 6!
2 Is less than 6!
3 Is less than 6!
4 Is less than 6!
5 Is less than 6!

In [ ]:
while False:
    print('Hi') # this will never start

In [25]:
# while True:
#  print('True') # this is an infinite loop

In [30]:
num = 0
a_list = []
while num < 10:
    a_list.append(num)
    num += 1

In [31]:
def build_alist(num):
    num = 0
    a_list = []
    while num < 10:
        a_list.append(num)
        num += 1
    return a_list

In [32]:
a_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
build_alist(3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

 # List comprehension

In [34]:
def compute_grade(grade):
    if grade >= 90:
        print('A')
    elif grade >= 80:
        print('B')
    elif grade >= 70:
        print('C')
    elif grade >= 60:
        print('D')
    else:
        print('F')

In [35]:
scores = [60, 90, 70, 85, 100, 99, 40]

In [36]:
grade = ['A' if score >=90 else 'B' if score >= 80
        else 'C' if score >= 70 else 'D' if score >= 60
        else 'F' for score in scores]

In [37]:
grade

['D', 'A', 'C', 'B', 'A', 'A', 'F']

# We want to build a list with the square root of numbers from a sequence of numberes using booth function and list comprehension

In [40]:
seq = [0,1,2,3,4,5,6,7,8,9]

In [43]:
def list_builder():
    em_list = []
    for num in seq:
        em_list.append(num**0.5)
    return em_list

In [46]:
print(list_builder(seq))

TypeError: list_builder() takes 0 positional arguments but 1 was given

In [45]:
easy_builder = [num**0.5 for num in seq]
print(easy_builder)

[0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0]