In [1]:
position = "TEACHER"
position

'TEACHER'

In [2]:
last = 'DOWMBIA'
last.lower()

'dowmbia'

In [3]:
position.title()

'Teacher'

In [4]:
# title() --> will capitalize the first charcter of a string
# lower() --> will lowercase all the characters of a string
# strip() --> remove sll the unnecessary spaces
# lstrip / rstrip / strip

In [5]:
### Strip method()

In [6]:
data = "     titanic      "
data

'     titanic      '

In [7]:
# len will return the length of the data
len(data)

18

In [8]:
# lstrip()
left = data.lstrip()

In [9]:
left

'titanic      '

In [10]:
len(left)

13

In [11]:
word = '     titanic    '
word.rtrip()

AttributeError: 'str' object has no attribute 'rtrip'

In [ ]:
word = '  titanic       '
right = word.rstrip()

In [ ]:
right

In [ ]:
len(right)

In [ ]:
# Center method
title = 'Information T'

In [ ]:
print(Title.center(100))

In [ ]:
Fruit = 'Mango, Apple, Banana, Watermelon, Apple, Apple, Pineapple'
Fruit.count('Apple')

In [ ]:
my_string = '123'

In [ ]:
my_string.isalpha()

In [ ]:
your_string = 'Howard'
your_string.isalpha()

In [ ]:
your_text = 'Python is the most popular programming language. Python is a high level language. Python is very easy to learn.'

In [ ]:
your_text.startswith('Python')

In [ ]:
your_text.startswith('M')

In [ ]:
 ### Boolean

In [ ]:
print((2==3) & (1==1)) # & stands for AND operator

In [ ]:
print((2==3) | (1==1)) # | stands for OR

In [ ]:
print((2==2) & (1==1))

In [ ]:
print(True & True)

In [ ]:
print(True |True)

In [ ]:
print(False & False)

In [ ]:
print((2 < 20 or 5 >= 3) & (4%3==1 or 17>20))

In [ ]:
print((2 < 20 or 5 >= 3) & (4%3==1 & 17>20))

In [ ]:
print((2 < 20 or 5 >= 3) and (4%3==1 and 17>20))

In [ ]:
print((2 < 20 | 5 >= 3) & (4%3==1 | 17>20))

In [ ]:
print((2 < 20 or 5 >= 3) and (4%3==1 or 17>20))

 The comparison operators are '==', '<', '<=', '>', '>='

In [ ]:
print(3>=2)

In [ ]:
print(2<=1)

List

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9]

In [ ]:
mylist

In [ ]:
type(mylist)

In [ ]:
mylist[3]

In [ ]:
myfruit = ['Mango', 'Apple', 'Watermelon' ,'Pineapple' , 'Dragon fruit']

In [ ]:
myfruit[1]

In [ ]:
myfruit[-1]

 ## Reverse member of a list

In [ ]:
myfruit[::-1]

In [ ]:
# Replacing a list member
myfruit[4] = 'Strawberry'
myfruit

In [ ]:
### Adding a new member
myfruit.append('Dragon fruit')

In [ ]:
myfruit

In [ ]:
### Removing the last member of a list
myfruit.pop()

In [ ]:
myfruit.pop(0)

In [ ]:
myfruit

In [ ]:
myvegetable = ['Salad', 'Carrot', 'Cabbage', 'Spinach']

In [ ]:
mybasket = myfruit + myvegetable

In [ ]:
print(mybasket)

In [ ]:
len(mybasket)

In [ ]:
mybasket.remove('Salad')
mybasket

In [ ]:
print(mybasket)

In [ ]:
my_basket = ['Salad', 'Spinach', 'Watermelon', 'Pineapple']
my_basket.pop(1)

In [ ]:
my_basket.remove('Watermelon')

In [ ]:
my_basket

In [ ]:
1 * # Dictionary 
2 is a sequence of key-value pair. Members of a dictionary are between curly brackets
3 ### Example passwords = {'id1':'aBcD', 'id2':'ZwAym'}

In [ ]:
student = {'College':'Howard University',
          'School':'COAS',
          'Major':'Data Science',
          'S_ID':'@01234567',
          'Classes':['Data Science','English','CompSC','Math'],
          'Status':['International', 'National'],
          'Email':'myemail@bison.howard.edu',
          'Phone':'202-555-5555',
          'S_name':'Moussa Doumbia'}

In [ ]:
student

In [ ]:
student['Major']

In [ ]:
student['Status']

In [ ]:
student['Classes'][3]

In [ ]:
student['Address']= '123 Howard Pl NW, Washington, DC 20059'

In [ ]:
student

In [ ]:
couple = student.items()

In [ ]:
couple

In [ ]:
12_x = 5

In [ ]:
x_12 = 5

In [ ]:
5 = x_12

* ### The set() method is used to remove duplicates
* ### Tuple are inmutable

In [ ]:
mylist = [1,1,2,3,2,4,5,6,7,1,2,3,9]

In [ ]:
newtuple = (11,2,13,13,13,11,2,2)

In [ ]:
a,b,c,d,e,f,g,h = newtuple

In [ ]:
newtuple[4]

In [ ]:
mylist = [1,1,2,3,2,4,5,6,7,1,2,3,9]

In [ ]:
set(mylist)

In [ ]:
name = 'New student'

In [ ]:
name

In [ ]:
print('Hello', name+'!','\n' 'welcome to the data science class')

In [ ]:
f_name = 'Moussa'

In [ ]:
l_name = 'Doumbia'

In [ ]:
print(f'Hello {l_name}!\n Welcome to DS')

In [ ]:
print("Hello {one} {two}!\nWelcome to data science class.".format(two= l_name,one= f_name))

In [ ]:
print(f'Hello { f_name} {l_name}!\nWelcome to Howard UNiversity')

In [ ]:
print('Hello', f_name, l_name, '\n Welcome to Howard University')

In [ ]:
print('Hello ' + f_name + " " + l_name)

In [ ]:
# In Python, functions start with def plus the function name
def my_double(num):
    return num*2

In [ ]:
my_double(8)

In [ ]:
def my_print(astr):
    print('Hello', astr)

In [ ]:
my_print('Moussa!')

In [ ]:
def even_func(num):
    result = 2*num + 8
    return result

In [ ]:
even_func(1)

In [ ]:
### split() method will split a string
my_str = 'my_email@howard.edu'

In [ ]:
my_str.split('@')[1]

In [15]:
def get_email(astr):
    part = astr.split('@')[1]
    return part

In [16]:
my_customer1 = 'customer@amazon.com'
my_customer2 = 'customer@yahoo.fr'

In [17]:
get_email(my_customer1)

'amazon.com'

In [18]:
# For loop
seq_num = [1,2,3,4,5,6,7]

In [ ]:
for number in seq_num:
    print

In [19]:
first = 'abc'
second = '123'
third = 'xyz'

In [20]:
for i in first:
    for j in second:
        for k in third:
            print((i,j,k))

('a', '1', 'x')
('a', '1', 'y')
('a', '1', 'z')
('a', '2', 'x')
('a', '2', 'y')
('a', '2', 'z')
('a', '3', 'x')
('a', '3', 'y')
('a', '3', 'z')
('b', '1', 'x')
('b', '1', 'y')
('b', '1', 'z')
('b', '2', 'x')
('b', '2', 'y')
('b', '2', 'z')
('b', '3', 'x')
('b', '3', 'y')
('b', '3', 'z')
('c', '1', 'x')
('c', '1', 'y')
('c', '1', 'z')
('c', '2', 'x')
('c', '2', 'y')
('c', '2', 'z')
('c', '3', 'x')
('c', '3', 'y')
('c', '3', 'z')

In [ ]:
seq_num = [1,2,3,4,5,6,7]

In [26]:
# If else statements
for number in seq_num:
    if number % 2 == 0:
        print('{} is an even number '.format(number))
    else:
            print('{} is an odd number'.format(number))

1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
6 is an even number
7 is an odd number

In [31]:
students_gpa = {'John':4.0,
                'Mya':4.0,
                'Sean':3.7,
                'Jon':3.8,
                'Sarah':3.85,
                'Isaac':3.5,
                'Issa':2.8
               }

In [34]:
for key,val in students_gpa.items():
    if students_gpa[key] >3.7:
        print('{} is an outstanding student.'.format(key))
    else:
        print('{} is not qualifed for this Summer REU'.format(key))

John is an outstanding student.
Mya is an outstanding student.
Sean is not qualifed for this Summer REU
Jon is an outstanding student.
Sarah is an outstanding student.
Isaac is not qualifed for this Summer REU
Issa is not qualifed for this Summer REU

In [39]:
# If, elif, else statements
for key,val in students_gpa.items():
    if students_gpa[key] >3.7:
        print('{} is an outstanding student.'.format(key))
    elif students_gpa[key] >=3.7:
        print('{} is a good student.'.format(key))
    else:
        print('{} is not qualifed for this Summer REU.'.format(key))

John is an outstanding student.
Mya is an outstanding student.
Sean is a good student.
Jon is an outstanding student.
Sarah is an outstanding student.
Isaac is not qualifed for this Summer REU.
Issa is not qualifed for this Summer REU.

In [40]:
def compute_grade(grade):
    if grade >= 90:
        print('A')
    elif grade >= 80:
        print('B')
    elif grade >= 70:
        print('C')
    elif grade >= 60:
        print('D')
    else:
        print('F')

In [42]:
compute_grade(2)

F

In [ ]:
# While loop