In [1]:
position = "TEACHER"
position

'TEACHER'

In [2]:
last = 'DOWMBIA'
last.lower()

'dowmbia'

In [3]:
position.title()

'Teacher'

In [4]:
# title() --> will capitalize the first charcter of a string
# lower() --> will lowercase all the characters of a string
# strip() --> remove sll the unnecessary spaces
# lstrip / rstrip / strip

In [5]:
### Strip method()

In [6]:
data = "     titanic      "
data

'     titanic      '

In [7]:
# len will return the length of the data
len(data)

18

In [8]:
# lstrip()
left = data.lstrip()

In [9]:
left

'titanic      '

In [10]:
len(left)

13

In [11]:
word = '     titanic    '
word.rstrip ()

'     titanic'

In [12]:
word = '  titanic       '
right = word.rstrip()

In [13]:
right

'  titanic'

In [14]:
len(right)

9

In [15]:
# Center method
title = 'Information T'

In [16]:
print(title.center(100))

                                           Information T

In [17]:
Fruit = 'Mango, Apple, Banana, Watermelon, Apple, Apple, Pineapple'
Fruit.count('Apple')

3

In [18]:
my_string = '123'

In [19]:
my_string.isalpha()

False

In [20]:
your_string = 'Howard'
your_string.isalpha()

True

In [21]:
your_text = 'Python is the most popular programming language. Python is a high level language. Python is very easy to learn.'

In [22]:
your_text.startswith('Python')

True

In [23]:
your_text.startswith('M')

False

In [24]:
 ### Boolean

In [25]:
print((2==3) & (1==1)) # & stands for AND operator

False

In [26]:
print((2==3) | (1==1)) # | stands for OR

True

In [27]:
print((2==2) & (1==1))

True

In [28]:
print(True & True)

True

In [29]:
print(True |True)

True

In [30]:
print(False & False)

False

In [31]:
print((2 < 20 or 5 >= 3) & (4%3==1 or 17>20))

True

In [32]:
print((2 < 20 or 5 >= 3) & (4%3==1 & 17>20))

False

In [33]:
print((2 < 20 or 5 >= 3) and (4%3==1 and 17>20))

False

In [34]:
print((2 < 20 | 5 >= 3) & (4%3==1 | 17>20))

False

In [35]:
print((2 < 20 or 5 >= 3) and (4%3==1 or 17>20))

True

 The comparison operators are '==', '<', '<=', '>', '>='

In [36]:
print(3>=2)

True

In [37]:
print(2<=1)

False

List

In [38]:
mylist = [1,2,3,4,5,6,7,8,9]

In [39]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
type(mylist)

list

In [41]:
mylist[3]

4

In [42]:
myfruit = ['Mango', 'Apple', 'Watermelon' ,'Pineapple' , 'Dragon fruit']

In [43]:
myfruit[1]

'Apple'

In [44]:
myfruit[-1]

'Dragon fruit'

 ## Reverse member of a list

In [45]:
myfruit[::-1]

['Dragon fruit', 'Pineapple', 'Watermelon', 'Apple', 'Mango']

In [46]:
# Replacing a list member
myfruit[4] = 'Strawberry'
myfruit

['Mango', 'Apple', 'Watermelon', 'Pineapple', 'Strawberry']

In [47]:
### Adding a new member
myfruit.append('Dragon fruit')

In [48]:
myfruit

['Mango', 'Apple', 'Watermelon', 'Pineapple', 'Strawberry', 'Dragon fruit']

In [49]:
### Removing the last member of a list
myfruit.pop()

'Dragon fruit'

In [50]:
myfruit.pop(0)

'Mango'

In [51]:
myfruit

['Apple', 'Watermelon', 'Pineapple', 'Strawberry']

In [52]:
myvegetable = ['Salad', 'Carrot', 'Cabbage', 'Spinach']

In [53]:
mybasket = myfruit + myvegetable

In [54]:
print(mybasket)

['Apple', 'Watermelon', 'Pineapple', 'Strawberry', 'Salad', 'Carrot', 'Cabbage', 'Spinach']

In [55]:
len(mybasket)

8

In [56]:
mybasket.remove('Salad')
mybasket

['Apple',
 'Watermelon',
 'Pineapple',
 'Strawberry',
 'Carrot',
 'Cabbage',
 'Spinach']

In [57]:
print(mybasket)

['Apple', 'Watermelon', 'Pineapple', 'Strawberry', 'Carrot', 'Cabbage', 'Spinach']

In [58]:
my_basket = ['Salad', 'Spinach', 'Watermelon', 'Pineapple']
my_basket.pop(1)

'Spinach'

In [59]:
my_basket.remove('Watermelon')

In [60]:
my_basket

['Salad', 'Pineapple']

In [61]:
 # Dictionary 
 # is a sequence of key-value pair. Members of a dictionary are between curly brackets
 ### Example passwords = {'id1':'aBcD', 'id2':'ZwAym'}

In [62]:
student = {'College':'Howard University',
          'School':'COAS',
          'Major':'Data Science',
          'S_ID':'@01234567',
          'Classes':['Data Science','English','CompSC','Math'],
          'Status':['International', 'National'],
          'Email':'myemail@bison.howard.edu',
          'Phone':'202-555-5555',
          'S_name':'Moussa Doumbia'}

In [63]:
student

{'College': 'Howard University',
 'School': 'COAS',
 'Major': 'Data Science',
 'S_ID': '@01234567',
 'Classes': ['Data Science', 'English', 'CompSC', 'Math'],
 'Status': ['International', 'National'],
 'Email': 'myemail@bison.howard.edu',
 'Phone': '202-555-5555',
 'S_name': 'Moussa Doumbia'}

In [64]:
student['Major']

'Data Science'

In [65]:
student['Status']

['International', 'National']

In [66]:
student['Classes'][3]

'Math'

In [67]:
student['Address']= '123 Howard Pl NW, Washington, DC 20059'

In [68]:
student

{'College': 'Howard University',
 'School': 'COAS',
 'Major': 'Data Science',
 'S_ID': '@01234567',
 'Classes': ['Data Science', 'English', 'CompSC', 'Math'],
 'Status': ['International', 'National'],
 'Email': 'myemail@bison.howard.edu',
 'Phone': '202-555-5555',
 'S_name': 'Moussa Doumbia',
 'Address': '123 Howard Pl NW, Washington, DC 20059'}

In [69]:
couple = student.items()

In [70]:
couple

dict_items([('College', 'Howard University'), ('School', 'COAS'), ('Major', 'Data Science'), ('S_ID', '@01234567'), ('Classes', ['Data Science', 'English', 'CompSC', 'Math']), ('Status', ['International', 'National']), ('Email', 'myemail@bison.howard.edu'), ('Phone', '202-555-5555'), ('S_name', 'Moussa Doumbia'), ('Address', '123 Howard Pl NW, Washington, DC 20059')])

In [71]:
x_12 = 5

In [72]:
x_12 = 5

In [73]:
5 = x_12

SyntaxError: cannot assign to literal (2179469882.py, line 1)

* ### The set() method is used to remove duplicates
* ### Tuple are inmutable

In [ ]:
mylist = [1,1,2,3,2,4,5,6,7,1,2,3,9]

In [ ]:
newtuple = (11,2,13,13,13,11,2,2)

In [ ]:
a,b,c,d,e,f,g,h = newtuple

In [ ]:
newtuple[4]

In [ ]:
mylist = [1,1,2,3,2,4,5,6,7,1,2,3,9]

In [ ]:
set(mylist)

In [ ]:
name = 'New student'

In [ ]:
name

In [ ]:
print('Hello', name+'!','\n' 'welcome to the data science class')

In [ ]:
f_name = 'Moussa'

In [ ]:
l_name = 'Doumbia'

In [ ]:
print(f'Hello {l_name}!\n Welcome to DS')

In [ ]:
print("Hello {one} {two}!\nWelcome to data science class.".format(two= l_name,one= f_name))

In [ ]:
print(f'Hello { f_name} {l_name}!\nWelcome to Howard UNiversity')

In [ ]:
print('Hello', f_name, l_name, '\n Welcome to Howard University')

In [ ]:
print('Hello ' + f_name + " " + l_name)

In [ ]:
# In Python, functions start with def plus the function name
def my_double(num):
    return num*2

In [ ]:
my_double(8)

In [ ]:
def my_print(astr):
    print('Hello', astr)

In [ ]:
my_print('Moussa!')

In [ ]:
def even_func(num):
    result = 2*num + 8
    return result

In [ ]:
even_func(1)

In [ ]:
### split() method will split a string
my_str = 'my_email@howard.edu'

In [ ]:
my_str.split('@')[1]

In [ ]:
def get_email(astr):
    part = astr.split('@')[1]
    return part

In [96]:
my_customer1 = 'customer@amazon.com'
my_customer2 = 'customer@yahoo.fr'
my_customer3 = 'customer@gmail.com'

In [ ]:
get_email(my_customer1)

In [ ]:
# For loop
seq_num = [1,2,3,4,5,6,7]

In [ ]:
for number in seq_num:
    print

In [ ]:
first = 'abc'
second = '123'
third = 'xyz'

In [ ]:
for i in first:
    for j in second:
        for k in third:
            print((i,j,k))

In [ ]:
seq_num = [1,2,3,4,5,6,7]

In [ ]:
# If else statements
for number in seq_num:
    if number % 2 == 0:
        print('{} is an even number '.format(number))
    else:
            print('{} is an odd number'.format(number))

In [ ]:
students_gpa = {'John':4.0,
                'Mya':4.0,
                'Sean':3.7,
                'Jon':3.8,
                'Sarah':3.85,
                'Isaac':3.5,
                'Issa':2.8
               }

In [ ]:
for key,val in students_gpa.items():
    if students_gpa[key] >3.7:
        print('{} is an outstanding student.'.format(key))
    else:
        print('{} is not qualifed for this Summer REU'.format(key))

In [ ]:
# If, elif, else statements
for key,val in students_gpa.items():
    if students_gpa[key] >3.7:
        print('{} is an outstanding student.'.format(key))
    elif students_gpa[key] >=3.7:
        print('{} is a good student.'.format(key))
    else:
        print('{} is not qualifed for this Summer REU.'.format(key))

In [ ]:
def compute_grade(grade):
    if grade >= 90:
        print('A')
    elif grade >= 80:
        print('B')
    elif grade >= 70:
        print('C')
    elif grade >= 60:
        print('D')
    else:
        print('F')

In [ ]:
compute_grade(2)

In [ ]:
 ### While loop

In [ ]:
count = 0
while count < 6:
    print("Hello World!")
    count = count + 1

In [ ]:
count = 0
while count < 6:
    print(f"{count} Is less than 6!")
    count = count + 1

In [ ]:
while False:
    print('Hi') # this will never start

In [ ]:
# while True:
#  print('True') # this is an infinite loop

In [ ]:
num = 0
a_list = []
while num < 10:
    a_list.append(num)
    num += 1

In [ ]:
def build_alist(num):
    num = 0
    a_list = []
    while num < 10:
        a_list.append(num)
        num += 1
    return a_list

In [ ]:
a_list

In [ ]:
build_alist(3)

 # List comprehension

In [ ]:
def compute_grade(grade):
    if grade >= 90:
        print('A')
    elif grade >= 80:
        print('B')
    elif grade >= 70:
        print('C')
    elif grade >= 60:
        print('D')
    else:
        print('F')

In [ ]:
scores = [60, 90, 70, 85, 100, 99, 40]

In [ ]:
grade = ['A' if score >=90 else 'B' if score >= 80
        else 'C' if score >= 70 else 'D' if score >= 60
        else 'F' for score in scores]

In [ ]:
grade

# We want to build a list with the square root of numbers from a sequence of numberes using booth function and list comprehension

In [ ]:
seq = [0,1,2,3,4,5,6,7,8,9]

In [ ]:
def list_builder():
    em_list = []
    for num in seq:
        em_list.append(num**0.5)
    return em_list

In [ ]:
print(list_builder(seq))

In [ ]:
easy_builder = [num**0.5 for num in seq]
print(easy_builder)

#  Lambda, Map, and filter

In [75]:
seq = [0,1,2,3,4,5,6,7,8,9]

In [76]:
 # We want to obtain the cube of every number in the seq
 # 1. using function
 # 2. using lambda function
 # We want to obtain the list of the cubes for every number in the seq
def num_cube(num):
    return num**3

In [77]:
num_cube(4)

64

In [80]:
def num_cube(seq):
    cube_list = []
    for num in seq:
        cube_list.append(num**3)
    return cube_list

In [81]:
num_cube(seq)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [95]:
list(map(lambda num : num**3, seq))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [121]:
customers_list = ['my_customer1@gmail.com','my_customer2@yahoo.com','my_customer3@hotmail.com']

In [122]:
l = map(lambda x: x.split('@')[1], customers_list)

In [123]:
list(1)

TypeError: 'int' object is not iterable