In [1]:
position = "TEACHER"
position

'TEACHER'

In [2]:
last = 'DOWMBIA'
last.lower()

'dowmbia'

In [3]:
position.title()

'Teacher'

In [4]:
# title() --> will capitalize the first charcter of a string
# lower() --> will lowercase all the characters of a string
# strip() --> remove sll the unnecessary spaces
# lstrip / rstrip / strip

In [5]:
### Strip method()

In [6]:
data = "     titanic      "
data

'     titanic      '

In [7]:
# len will return the length of the data
len(data)

18

In [8]:
# lstrip()
left = data.lstrip()

In [9]:
left

'titanic      '

In [10]:
len(left)

13

In [11]:
word = '     titanic    '
word.rtrip()

AttributeError: 'str' object has no attribute 'rtrip'

In [ ]:
word = '  titanic       '
right = word.rstrip()

In [ ]:
right

In [ ]:
len(right)

In [ ]:
# Center method
title = 'Information T'

In [ ]:
print(Title.center(100))

In [ ]:
Fruit = 'Mango, Apple, Banana, Watermelon, Apple, Apple, Pineapple'
Fruit.count('Apple')

In [ ]:
my_string = '123'

In [ ]:
my_string.isalpha()

In [ ]:
your_string = 'Howard'
your_string.isalpha()

In [ ]:
your_text = 'Python is the most popular programming language. Python is a high level language. Python is very easy to learn.'

In [ ]:
your_text.startswith('Python')

In [ ]:
your_text.startswith('M')

In [ ]:
 ### Boolean

In [ ]:
print((2==3) & (1==1)) # & stands for AND operator

In [ ]:
print((2==3) | (1==1)) # | stands for OR

In [ ]:
print((2==2) & (1==1))

In [ ]:
print(True & True)

In [ ]:
print(True |True)

In [ ]:
print(False & False)

In [ ]:
print((2 < 20 or 5 >= 3) & (4%3==1 or 17>20))

In [ ]:
print((2 < 20 or 5 >= 3) & (4%3==1 & 17>20))

In [ ]:
print((2 < 20 or 5 >= 3) and (4%3==1 and 17>20))

In [ ]:
print((2 < 20 | 5 >= 3) & (4%3==1 | 17>20))

In [ ]:
print((2 < 20 or 5 >= 3) and (4%3==1 or 17>20))

 The comparison operators are '==', '<', '<=', '>', '>='

In [ ]:
print(3>=2)

In [ ]:
print(2<=1)

List

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9]

In [ ]:
mylist

In [ ]:
type(mylist)

In [ ]:
mylist[3]

In [ ]:
myfruit = ['Mango', 'Apple', 'Watermelon' ,'Pineapple' , 'Dragon fruit']

In [ ]:
myfruit[1]

In [ ]:
myfruit[-1]

 ## Reverse member of a list

In [ ]:
myfruit[::-1]

In [ ]:
# Replacing a list member
myfruit[4] = 'Strawberry'
myfruit

In [ ]:
### Adding a new member
myfruit.append('Dragon fruit')

In [ ]:
myfruit

In [ ]:
### Removing the last member of a list
myfruit.pop()

In [ ]:
myfruit.pop(0)

In [ ]:
myfruit

In [ ]:
myvegetable = ['Salad', 'Carrot', 'Cabbage', 'Spinach']

In [ ]:
mybasket = myfruit + myvegetable

In [ ]:
print(mybasket)

In [ ]:
len(mybasket)

In [ ]:
mybasket.remove('Salad')
mybasket

In [ ]:
print(mybasket)

In [ ]:
my_basket = ['Salad', 'Spinach', 'Watermelon', 'Pineapple']
my_basket.pop(1)

In [ ]:
my_basket.remove('Watermelon')

In [ ]:
my_basket

In [ ]:
1 * # Dictionary 
2 is a sequence of key-value pair. Members of a dictionary are between curly brackets
3 ### Example passwords = {'id1':'aBcD', 'id2':'ZwAym'}

In [ ]:
student = {'College':'Howard University',
          'School':'COAS',
          'Major':'Data Science',
          'S_ID':'@01234567',
          'Classes':['Data Science','English','CompSC','Math'],
          'Status':['International', 'National'],
          'Email':'myemail@bison.howard.edu',
          'Phone':'202-555-5555',
          'S_name':'Moussa Doumbia'}

In [ ]:
student

In [ ]:
student['Major']

In [ ]:
student['Status']

In [ ]:
student['Classes'][3]

In [ ]:
student['Address']= '123 Howard Pl NW, Washington, DC 20059'

In [ ]:
student

In [ ]:
couple = student.items()

In [ ]:
couple

In [ ]:
12_x = 5

In [ ]:
x_12 = 5

In [ ]:
5 = x_12

* ### The set() method is used to remove duplicates
* ### Tuple are inmutable

In [29]:
mylist = [1,1,2,3,2,4,5,6,7,1,2,3,9]

In [26]:
newtuple = (11,2,13,13,13,11,2,2)

In [27]:
a,b,c,d,e,f,g,h = newtuple

In [28]:
newtuple[4]

13

In [30]:
mylist = [1,1,2,3,2,4,5,6,7,1,2,3,9]

In [31]:
set(mylist)

{1, 2, 3, 4, 5, 6, 7, 9}

In [35]:
name = 'New student'

In [36]:
name

'New student'

In [41]:
print('Hello', name+'!','\n' 'welcome to the data science class')

Hello New student!
welcome to the data science class

In [50]:
f_name = 'Moussa'

In [51]:
l_name = 'Doumbia'

In [52]:
print(f'Hello {l_name}!\n Welcome to DS')

Hello Doumbia!
 Welcome to DS

In [57]:
print("Hello {one} {two}!\nWelcome to data science class.".format(two= l_name,one= f_name))

Hello Moussa Doumbia!
Welcome to data science class.

In [58]:
print(f'Hello { f_name} {l_name}!\nWelcome to Howard UNiversity')

Hello Moussa Doumbia!
Welcome to Howard UNiversity

In [66]:
print('Hello', f_name, l_name, '\n Welcome to Howard University')

Hello Moussa Doumbia
 Welcome to Howard University

In [70]:
print('Hello ' + f_name + " " + l_name)

Hello Moussa Doumbia

In [71]:
# In Python, functions start with def plus the function name
def my_double(num):
    return num*2

In [72]:
my_double(8)

16

In [78]:
def my_print(astr):
    print('Hello', astr)

In [79]:
my_print('Moussa!')

Hello Moussa!

In [80]:
def even_func(num):
    result = 2*num + 8
    return result

In [81]:
even_func(1)

10

In [83]:
### split() method will split a string
my_str = 'my_email@howard.edu'

In [86]:
my_str.split('@')[1]

'howard.edu'